<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">

    <link rel="icon" href="{{ "favicon.png" | relative_url }}">

    <title>{{ site.coursetitle }}</title>
  </head>
  <body>
    
    <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <a href="{{ '/' | relative_url }}">
        <img src="{{ "/img/header.jpg" | relative_url }}" class="img-fluid imgheader" />
        </a>
        
        <h1>{{ site.coursecode }} - {{ site.coursetitle }}</h1>

        {{ content }}

      </div>
    </div>
    </div>

  </body>
</html>
